.Panel-Grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    padding: 1em 0 1em 0;

    @media (max-width: 768px) {
        & {
            font-size: 10px;
        }
    }

    .GPanel {
        display: grid;
        grid-template-columns: 0.5em 1fr 0.5em;
        grid-template-rows: 0.5em 1fr 0.5em;
        height: 100%;
        width: 100%;
        border-radius: 1em;
        transition: box-shadow, border ease-in-out 0.1s;
        background: linear-gradient(to bottom right, rgba(0,0,0,0.025), #edf1f4);
        box-shadow: 0.75em 0.75em 1em rgba(0,0,0,0.1), -0.75em -0.75em 1em #fff;

        &:empty {
            box-shadow: 0.75em 0.75em 1em rgba(0,0,0,0.1), -0.75em -0.75em 1em #fff, inset -0.25em -0.25em 0.5em rgba(255,255,255, 1), inset 0.25em 0.25em 0.5em rgba(0,0,0,0.05);
        }

        &.Static {
            &:hover {
                .Border, .Corner {
                    background-color: rgba(255, 5, 5, 0.25);
                }
            }

            .Content {
                .Header {
                    .Move {
                        cursor: not-allowed;
                    }

                    .Lock {
                        img {
                            content: url(../Images/unlocked.svg);
                        }
                    }
                }
            }
        }

        &:not(.Static) {
            &:hover {
                .Border, .Corner {
                    background-color: rgba(0, 148, 255, 0.25);
                }

                .Border:hover {
                    background-color: rgba(0, 255, 0, 0.25) !important;
                }
            }

            .Content {
                .Header {
                    .Move {
                        cursor: move;
                    }

                    .Lock {
                        img {
                            content: url(../Images/locked.svg);
                        }
                    }
                }
            }
        }

        &.Resizing {
            position: absolute;
        }

        .Border {
            width: 100%;
            height: 100%;

            &.Top {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            &.Right {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
            }

            &.Bottom {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }

            &.Left {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            &.Top, &.Bottom {
                cursor: ns-resize;
            }

            &.Right, &.Left {
                cursor: ew-resize;
            }
        }

        .Corner {
            &:nth-child(1) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                border-radius: 100% 0 0 0;
            }

            &:nth-child(2) {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                border-radius: 0 100% 0 0;
            }

            &:nth-child(3) {
                grid-column: 3 / 4;
                grid-row: 3 / 4;
                border-radius: 0 0 100% 0;
            }

            &:nth-child(4) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                border-radius: 0 0 0 100%;
            }
        }

        .Content {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            display: grid;
            height: 100%;
            width: 100%;
            grid-template-columns: 100%;
            grid-template-rows: 4em 1fr;
            border-radius: 0.5em;
            overflow: hidden;

            &.Moving {
                position: absolute;
                height: 4em;
                width: 4em;
                grid-template-rows: 4em 0;
                overflow: hidden;

                .Header {
                    grid-template-columns: 3em 0px 0px;
                    overflow: hidden;

                    .Title, .Toolbar {
                        display: none;
                    }
                }

                .Body {
                    height: 0px;

                    * {
                        display: none;
                    }
                }
            }

            .Header {
                display: grid;
                grid-template-columns: 3em minmax(1.5em, 1fr) minmax(2.5em, 10em);
                grid-template-rows: 3em;
                grid-gap: 1em;
                background-color: #C4C4C4;
                border-radius: 0.5em 0.5em 0 0;
                height: 4em;
                padding: 0.5em;
                text-overflow: ellipsis;

                .Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.75em;
                    background-color: #fff;
                    border-radius: 50%;
                }

                .Title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: bold;
                    font-size: 1.1em;
                    overflow: hidden;

                    span {
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .Toolbar {
                    justify-content: flex-end;
                    display: grid;
                    //grid-template-columns: 0 0 0 0 0 0 0 0 2em;
                    grid-template-columns: 2em 0.5em 2em 0.5em 2em 0.5em 2em;
                    grid-template-rows: 2em;
                    align-content: center;
                    overflow: hidden;
                    border-radius: 0.5em;
                    position: relative;

                    &:hover {
                        //grid-template-columns: 2em 0.5em 2em 0.5em 2em 0.5em 2em 0.5em 2em;
                    }

                    .Mask {
                        position: absolute;
                        left: 0;
                        width: 1em;
                        height: 100%;
                        box-shadow: inset 25px 0px 10px -20px #C4C4C4;
                    }

                    .Button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        img {
                            height: 1em;
                            width: 1em;
                        }

                        &.Close, &.Minimize, &.Lock {
                            cursor: pointer;
                        }

                        &.Options {
                            grid-column: 9 / 9;
                            padding: 0;
                            border-radius: 0;
                            background-color: #C4C4C4;
                        }

                        &.Close {
                            grid-column: 7 / 7;
                            background-color: red;

                            &:hover {
                                background-color: darkred;
                            }
                        }

                        &.Move {
                            grid-column: 5 / 5;
                            background-color: orange;

                            img {
                                height: 1.5em;
                                width: 1.5em;
                            }

                            &:hover {
                                background-color: darkorange;
                            }
                        }

                        &.Lock {
                            grid-column: 3 / 3;
                            background-color: green;

                            &:hover {
                                background-color: darkgreen;
                            }
                        }

                        &.Minimize {
                            grid-column: 1 / 1;
                            background-color: skyblue;

                            &:hover {
                                background-color: deepskyblue;
                            }
                        }
                    }
                }
            }

            .Body {
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
                background-color: #edf1f4;
                border-radius: 0 0 0.5em 0.5em;
                padding: 1em;
                overflow-y: auto;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */

                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Opera */
                }

                .Image {
                    flex: #{"0 0 min(5em, 100%)"};
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;

                    img {
                        height: auto;
                        width: auto;
                    }
                }

                .Text {
                    flex: 1 1 10em;
                    overflow: hidden;
                }
            }

            .remove {
                grid-row: 1 / 3;
                background-image: url(../Images/close.svg);
                background-color: RGBA(255, 5, 5, 0.25);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
                padding-inline: #{'min(10em, 10%)'};
                padding-block: #{'min(10em, 10%)'};

                &:hover {
                    background-color: RGBA(255, 5, 5, 1);
                    cursor: pointer;
                }
            }
        }

        @for $start from 1 through 10 {
            @for $end from 1 through 10 {
                @if ($start <= $end) {
                    &[col="#{$start}-#{$end}"] {
                        grid-column-start: $start;
                        grid-column-end: $end + 1;
                    }

                    &[row="#{$start}-#{$end}"] {
                        grid-row-start: $start;
                        grid-row-end: $end + 1;
                    }
                }
            }
        }
    }

    @for $col from 1 through 10 {
        @for $row from 1 through 10 {
            $colRem: #{(($col - 1) / $col) * 2}em;
            $rowRem: #{(($row - 1) / $row) * 2}em;

            &.C#{$col}-R#{$row} {
                grid-template-columns: repeat($col, calc(100% / #{$col} - #{$colRem}));
                grid-template-rows: repeat($row, calc(100% / #{$row} - #{$rowRem}));
            }
        }
    }
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem;
    min-width: 15rem;

    .spinner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;

        & > * {
            flex: 1 0 2rem;
            text-align: center;
        }

        button {
            border: 1px solid #DFDFDF;
            outline: none;
            border-radius: 10%;
            background-color: #FFF;
            color: #DFDFDF;

            &:hover {
                background-color: #DFDFDF;
                color: #FFF;
            }
        }
    }
}

.grid-model {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .row {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        .cube {
            flex: 1 1 calc(10% - 0.5rem);
            border-radius: 10%;
            border: solid 1px #DFDFDF;
            height: 1rem;

            &.populated {
                background-color: #DFDFDF;
            }

            &.open {
                background-color: palegreen;
                cursor: pointer;
            }
        }
    }
}
