<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grid Dynamix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/grid-dynamix.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Grid Dynamix</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (ViewData["Title"].ToString() == "Home Page")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Grid Settings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div id="column_spinner" class="dropdown-item settings-item">
                                        <span>Columns</span>
                                        <div class="spinner">
                                            <button type="button" onclick="Grid.RemoveColumn();">-</button>
                                            <span></span>
                                            <button type="button" onclick="Grid.AddColumn();">+</button>
                                        </div>
                                    </div>
                                    <div id="row_spinner" class="dropdown-item settings-item">
                                        <span>Rows</span>
                                        <div class="spinner">
                                            <button type="button" onclick="Grid.RemoveRow();">-</button>
                                            <span></span>
                                            <button type="button" onclick="Grid.AddRow();">+</button>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div id="model_container" class="dropdown-item"></div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="main-content">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Grid Dynamix
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/grid-dynamix.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
