.PanelGrid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    padding: 1rem 0 1rem 0;
    background-color: #edf1f4;

    .GPanel {
        display: grid;
        grid-template-columns: 0.5rem 1fr 0.5rem;
        grid-template-rows: 0.5rem 1fr 0.5rem;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        transition: box-shadow, border ease-in-out 0.1s;
        background: linear-gradient(to bottom right, rgba(0,0,0,0.025), #edf1f4);
        box-shadow: 0.75rem 0.75rem 1rem rgba(0,0,0,0.1), -0.75rem -0.75rem 1rem #fff;

        &:empty {
            box-shadow: 0.75rem 0.75rem 1rem rgba(0,0,0,0.1), -0.75rem -0.75rem 1rem #fff, inset -0.25rem -0.25rem 0.5rem rgba(255,255,255, 1), inset 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.05);
        }

        &.Static {
            &:hover {
                .Border, .Corner {
                    background-color: rgba(255, 5, 5, 0.25);
                }
            }

            .Content {
                .Header {
                    .Move {
                        cursor: not-allowed;
                    }

                    .Lock {
                        img {
                            content: url(../Images/unlocked.svg);
                        }
                    }
                }
            }
        }

        &:not(.Static) {
            &:hover {
                .Border, .Corner {
                    background-color: rgba(0, 148, 255, 0.25);
                }

                .Border:hover {
                    background-color: rgba(0, 255, 0, 0.25) !important;
                }
            }

            .Content {
                .Header {
                    .Move {
                        cursor: move;
                    }

                    .Lock {
                        img {
                            content: url(../Images/locked.svg);
                        }
                    }
                }
            }
        }

        &.Resizing {
            position: absolute;
        }

        .Border {
            width: 100%;
            height: 100%;

            &.Top {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            &.Right {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
            }

            &.Bottom {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }

            &.Left {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            &.Top, &.Bottom {
                cursor: ns-resize;
            }

            &.Right, &.Left {
                cursor: ew-resize;
            }
        }

        .Corner {
            &:nth-child(1) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                border-radius: 100% 0 0 0;
            }

            &:nth-child(2) {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                border-radius: 0 100% 0 0;
            }

            &:nth-child(3) {
                grid-column: 3 / 4;
                grid-row: 3 / 4;
                border-radius: 0 0 100% 0;
            }

            &:nth-child(4) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                border-radius: 0 0 0 100%;
            }
        }

        .Content {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            display: grid;
            height: 100%;
            width: 100%;
            grid-template-rows: 4rem 1fr;
            border-radius: 0.5rem;
            overflow: hidden;

            &.Moving {
                position: absolute;
                height: 4rem;
                width: 4rem;
                grid-template-rows: 4rem 0;
                overflow: hidden;

                .Header {
                    grid-template-columns: 3rem 0px 0px;
                    overflow: hidden;

                    .Title, .Toolbar {
                        display: none;
                    }
                }

                .Body {
                    height: 0px;

                    * {
                        display: none;
                    }
                }
            }

            .Header {
                display: grid;
                grid-template-columns: 3rem minmax(1.5rem, 1fr) minmax(2.5rem, 10rem);
                grid-template-rows: 3rem;
                grid-gap: 1rem;
                background-color: #C4C4C4;
                border-radius: 0.5rem;
                height: 4rem;
                padding: 0.5rem;
                text-overflow: ellipsis;

                .Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.75rem;
                    background-color: #fff;
                    border-radius: 50%;
                }

                .Title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: bold;
                    font-size: 1.1em;
                    overflow: hidden;

                    span {
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .Toolbar {
                    justify-content: flex-end;
                    display: grid;
                    //grid-template-columns: 0 0 0 0 0 0 0 0 2rem;
                    grid-template-columns: 2rem 0.5rem 2rem 0.5rem 2rem 0.5rem 2rem;
                    align-content: center;
                    overflow: hidden;
                    border-radius: 0.5rem;
                    position: relative;

                    &:hover {
                        //grid-template-columns: 2rem 0.5rem 2rem 0.5rem 2rem 0.5rem 2rem 0.5rem 2rem;
                    }

                    .Mask {
                        position: absolute;
                        left: 0;
                        width: 1rem;
                        height: 100%;
                        box-shadow: inset 25px 0px 10px -20px #C4C4C4;
                    }

                    .Button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0.5rem;
                        border-radius: 50%;

                        &.Close, &.Minimize, &.Lock {
                            cursor: pointer;
                        }

                        &.Options {
                            grid-column: 9 / 9;
                            padding: 0;
                            border-radius: 0;
                            background-color: #C4C4C4;
                        }

                        &.Close {
                            grid-column: 7 / 7;
                            background-color: red;

                            &:hover {
                                background-color: darkred;
                            }
                        }

                        &.Move {
                            grid-column: 5 / 5;
                            padding: 0.25rem;
                            background-color: orange;

                            &:hover {
                                background-color: darkorange;
                            }
                        }

                        &.Lock {
                            grid-column: 3 / 3;
                            background-color: green;

                            &:hover {
                                background-color: darkgreen;
                            }
                        }

                        &.Minimize {
                            grid-column: 1 / 1;
                            background-color: skyblue;

                            &:hover {
                                background-color: deepskyblue;
                            }
                        }
                    }
                }
            }

            .Body {
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 9fr;
                grid-template-rows: 1fr;
                grid-gap: 1rem;
                background-color: #edf1f4;
                border-radius: 0.5rem;
                padding: 1rem;
                overflow: hidden;

                .Image {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;

                    img {
                        height: auto;
                        width: auto;
                    }
                }

                .Text {
                    overflow-y: auto;
                }
            }
        }

        @for $start from 1 through 10 {
            @for $end from 1 through 10 {
                @if ($start <= $end) {
                    &[col="#{$start}-#{$end}"] {
                        grid-column-start: $start;
                        grid-column-end: $end + 1;
                    }

                    &[row="#{$start}-#{$end}"] {
                        grid-row-start: $start;
                        grid-row-end: $end + 1;
                    }
                }
            }
        }
    }

    @for $col from 1 through 10 {
        @for $row from 1 through 10 {
            $colRem: #{(($col - 1) / $col) * 2}rem;
            $rowRem: #{(($row - 1) / $row) * 2}rem;

            &.C#{$col}-R#{$row} {
                grid-template-columns: repeat($col, calc(100% / #{$col} - #{$colRem}));
                grid-template-rows: repeat($row, calc(100% / #{$row} - #{$rowRem}));
            }
        }
    }
}
