.PanelGrid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    padding: 1rem 0 1rem 0;
    background-color: #edf1f4;

    .GPanel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        transition: box-shadow, border ease-in-out 0.1s;
        background: linear-gradient(to bottom right, rgba(0,0,0,0.025), #edf1f4);
        border: solid 0.5rem #edf1f4;
        box-shadow: 0.75rem 0.75rem 1rem rgba(0,0,0,0.1), -0.75rem -0.75rem 1rem #fff;

        &:empty {
            box-shadow: 0.75rem 0.75rem 1rem rgba(0,0,0,0.1), -0.75rem -0.75rem 1rem #fff, inset -0.25rem -0.25rem 0.5rem rgba(255,255,255, 1), inset 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.05);
        }

        &.Static {
            &:hover {
                border: solid 0.5rem rgba(255, 5, 5, 0.25);
            }
            .Content {
                .Header {
                    .Move {
                        cursor: not-allowed;
                    }

                    .Lock {
                        img {
                            content: url(../Images/unlocked.svg);
                        }
                    }
                }
            }
        }

        &:not(.Static) {
            &:hover {
                border: solid 0.5rem rgba(0, 148, 255, 0.25);
            }

            .Content {
                .Header {
                    .Move {
                        cursor: move;
                    }

                    .Lock {
                        img {
                            content: url(../Images/locked.svg);
                        }
                    }
                }
            }
        }

        .Content {
            display: grid;
            height: 100%;
            width: 100%;
            grid-template-rows: 4rem 1fr;
            border-radius: 0.5rem;
            transition: height, width ease-in-out 0.1s;

            &.Moving {
                position: absolute;
                height: 4rem;
                width: 4rem;
                grid-template-rows: 4rem 0;
                overflow: hidden;

                .Header {
                    grid-template-columns: 3rem 0px 0px;
                    overflow: hidden;

                    .Title, .Toolbar {
                        display: none;
                    }
                }

                .Body {
                    height: 0px;

                    * {
                        display: none;
                    }
                }
            }

            .Header {
                display: grid;
                grid-template-columns: 3rem 1fr auto;
                grid-template-rows: 3rem;
                grid-gap: 1rem;
                background-color: #C4C4C4;
                border-radius: 0.5rem;
                height: 4rem;
                padding: 0.5rem;
                text-overflow: ellipsis;

                .Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.75rem;
                    background-color: #fff;
                    border-radius: 50%;
                }

                .Title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: bold;
                    font-size: 1.1em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .Toolbar {
                    display: grid;
                    grid-template-columns: 0 0 0 0 0 0 0 2rem;
                    align-content: center;
                    transition: grid-template-columns ease-in-out 0.5s;

                    &:hover {
                        grid-template-columns: 2rem 0.5rem 2rem 0.5rem 2rem 0.5rem 2rem 0;

                        .Options {
                            transform: rotate(360deg);
                        }
                    }

                    .Button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        padding: 0.5rem;
                        border-radius: 50%;

                        &.Options {
                            grid-column: 8 / 8;
                            padding: 0;
                            border-radius: 0;
                            background-color: #C4C4C4;
                        }

                        &.Close {
                            grid-column: 7 / 7;
                            background-color: red;

                            &:hover {
                                background-color: darkred;
                            }
                        }

                        &.Move {
                            grid-column: 5 / 5;
                            padding: 0.25rem;
                            background-color: orange;

                            &:hover {
                                background-color: darkorange;
                            }
                        }

                        &.Lock {
                            grid-column: 3 / 3;
                            background-color: green;

                            &:hover {
                                background-color: darkgreen;
                            }
                        }

                        &.Minimize {
                            grid-column: 1 / 1;
                            background-color: goldenrod;

                            &:hover {
                                background-color: darkgoldenrod;
                            }
                        }
                    }
                }
            }

            .Body {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                background-color: #edf1f4;
                border-radius: 0.5rem;
                padding: 1rem;
            }
        }

        @for $start from 1 through 10 {
            @for $end from 1 through 10 {
                @if ($start <= $end) {
                    &.C#{$start}-#{$end} {
                        grid-column-start: $start;
                        grid-column-end: $end + 1;
                    }

                    &.R#{$start}-#{$end} {
                        grid-row-start: $start;
                        grid-row-end: $end + 1;
                    }
                }
            }
        }
    }

    @for $col from 1 through 10 {
        @for $row from 1 through 10 {
            &.C#{$col}-R#{$row} {
                grid-template-columns: repeat($col, 1fr);
                grid-template-rows: repeat($row, 1fr);
            }
        }
    }
}
