html {
    height: 100vh;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    background-color: #edf1f4;
}

.navbar {
    grid-row: 1 / 1;
}

.body-content {
    height: 100%;
    grid-row: 2 / 2;
}

footer {
    grid-row: 3 / 3;
    display: flex;
    align-items: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

img {
    height: 100%;
    width: 100%;
}