@{
    ViewBag.Title = "Home Page";
}

<div class="PanelGrid C5-R3">
    <div id="GPanel_1" class="GPanel C1-5 R1-1" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div id="GPanel_1_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/graph.svg" />
                </div>
                <div class="Title">
                    <span>Reports</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                </div>
            </div>
            <div class="Body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
            </div>
        </div>
    </div>
    <div id="GPanel_2" class="GPanel C1-1 R2-2" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div id="GPanel_2_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/clock.svg" />
                </div>
                <div class="Title">
                    <span>Timers</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                </div>
            </div>
            <div class="Body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
            </div>
        </div>
    </div>
    <div id="GPanel_3" class="GPanel C2-4 R2-2" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div id="GPanel_3_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/schedule.svg" />
                </div>
                <div class="Title">
                    <span>Scheduling</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                </div>
            </div>
            <div class="Body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
            </div>
        </div>
    </div>
    <div id="GPanel_4" class="GPanel C5-5 R2-2" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div id="GPanel_4_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/binders.svg" />
                </div>
                <div class="Title">
                    <span>History</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                </div>
            </div>
            <div class="Body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
            </div>
        </div>
    </div>
    <div id="GPanel_5" class="GPanel Static C1-5 R3-3" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div id="GPanel_5_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/support.svg" />
                </div>
                <div class="Title">
                    <span>Support</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                </div>
            </div>
            <div class="Body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
            </div>
        </div>
    </div>
</div>