@{
    ViewData["Title"] = "Home Page";
}

<div id="Grid_Model"></div>
<div class="Panel-Grid C5-R5">
    <div id="GPanel_1" class="GPanel" col="1-5" row="1-1" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Border Top"></div>
        <div class="Border Right"></div>
        <div class="Border Bottom"></div>
        <div class="Border Left"></div>
        <div id="GPanel_1_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/graph.svg" />
                </div>
                <div class="Title">
                    <span>Reports</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Lock" onclick="ToggleStatic(this);">
                        <img />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                    <div class="Mask"></div>
                </div>
            </div>
            <div class="Body">
                <div class="Image">
                    <img src="~/Images/graph.svg" />
                </div>
                <div class="Text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="GPanel_2" class="GPanel" col="1-1" row="3-4" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Border Top"></div>
        <div class="Border Right"></div>
        <div class="Border Bottom"></div>
        <div class="Border Left"></div>
        <div id="GPanel_2_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/clock.svg" />
                </div>
                <div class="Title">
                    <span>Timers</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Lock" onclick="ToggleStatic(this);">
                        <img />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                    <div class="Mask"></div>
                </div>
            </div>
            <div class="Body">
                <div class="Image">
                    <img src="~/Images/clock.svg" />
                </div>
                <div class="Text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="GPanel_3" class="GPanel" col="2-4" row="3-4" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Border Top"></div>
        <div class="Border Right"></div>
        <div class="Border Bottom"></div>
        <div class="Border Left"></div>
        <div id="GPanel_3_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/schedule.svg" />
                </div>
                <div class="Title">
                    <span>Scheduling</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Lock" onclick="ToggleStatic(this);">
                        <img />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                    <div class="Mask"></div>
                </div>
            </div>
            <div class="Body">
                <div class="Image">
                    <img src="~/Images/schedule.svg" />
                </div>
                <div class="Text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="GPanel_4" class="GPanel" col="5-5" row="3-4" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Border Top"></div>
        <div class="Border Right"></div>
        <div class="Border Bottom"></div>
        <div class="Border Left"></div>
        <div id="GPanel_4_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/binders.svg" />
                </div>
                <div class="Title">
                    <span>History</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Lock" onclick="ToggleStatic(this);">
                        <img />
                    </div>
                    <div class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                    <div class="Mask"></div>
                </div>
            </div>
            <div class="Body">
                <div class="Image">
                    <img src="~/Images/binders.svg" />
                </div>
                <div class="Text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="GPanel_5" class="GPanel Static" col="1-5" row="5-5" onmouseover="SelectPanel(this.id);" onmouseout="selectedPanel = null;">
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Corner"></div>
        <div class="Border Top"></div>
        <div class="Border Right"></div>
        <div class="Border Bottom"></div>
        <div class="Border Left"></div>
        <div id="GPanel_5_Content" class="Content">
            <div class="Header">
                <div class="Icon">
                    <img src="~/Images/support.svg" />
                </div>
                <div class="Title">
                    <span>Support</span>
                </div>
                <div class="Toolbar">
                    <div class="Button Minimize">
                        <img src="~/Images/minimize.svg" onclick="MinimizePanel(this);" />
                    </div>
                    <div class="Button Lock" onclick="ToggleStatic(this);">
                        <img />
                    </div>
                    <div id="GPanel_5_Move" class="Button Move">
                        <img src="~/Images/move.svg" />
                    </div>
                    <div class="Button Close" onclick="ClosePanel(this);">
                        <img src="~/Images/close.svg" />
                    </div>
                    <div class="Mask"></div>
                </div>
            </div>
            <div class="Body">
                <div class="Image">
                    <img src="~/Images/support.svg" />
                </div>
                <div class="Text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur luctus lacinia. Vivamus vitae tellus est. Sed sed eros sit amet sapien congue vehicula. Cras eget neque sed lacus maximus facilisis. Maecenas et nulla turpis. Sed id consectetur urna. Mauris tempor ipsum non augue rutrum tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>